<h3 class="bg-rojo text-sm font-semibold text-white dark:text-white uppercase" id="title-large-modal" hx-swap-oob="true">
    Nueva poliza federal
</h3>
<form class="max-w-sm">
    <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha:</label>
    <input 
    type="date" 
    id="date" 
    name="date" 
    hx-get="{% url 'income:federal_policy_new' %}"
    hx-trigger="change"
    hx-target="#ContentFederalPolicy" 
    hx-swap="innerHTML"
    class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</form>
<hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
<div id="ContentFederalPolicy" class="w-full">
</div>