<style>
    th, td { white-space: nowrap; }
    div.dataTables_wrapper{
        width: 100%;
        height:100%;
        margin: 0 auto;
    }
    div.dt-length{
        display:inline;
        padding: 0 2px 0 2px;
    }
    div.dt-buttons{
        display:inline;
        padding: 0 2px 0 2px;
    }
    div.dt-search{
        text-align:right;
    }

    button.dt-button.add-button{
        background-color: #04AA6D;
        color:white;
    }
    button:hover.dt-button:hover.add-button:hover{
        background-color: #388e3c;
        color:white;
    }
</style>
{% load humanize %}
<div class="">
    <table id="datatable-federal" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha de emisión</th>                
                <th>Banco</th>
                <th>Caja</th>
                <th>Total</th>              
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in federal_policy %}
            <tr>
                <th>{{ forloop.counter }}</th>                
                <td>{{ item.issue_date }}</td> 
                <td>$ {{ item.amount_bank|floatformat:2|intcomma }} </td>
                <td>$ {{ item.amount_cash|floatformat:2|intcomma }}</td>
                <td>$ {{ item.total_amount|floatformat:2|intcomma}}</td>                                         
                <td class="text-right">
                    <div class="flex space-x-2">
                        <!--DETALLE-->
                        <a href="{% url 'income:federal_policy_pdf' item.id %}" target="_blank" 
                        data-tooltip-target="tooltip-detail-applicant-{{item.id}}" 
                        class="text-blue-700 hover:cursor-pointer hover:text-blue-400">
                            <i class="fas fa-file-pdf"></i>
                            <div id="tooltip-detail-applicant-{{item.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Ver Poliza
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div> 
                        </a>
                        <!--ELIMINAR-->
                        <a data-tooltip-target="tooltip-PolicyFederalDelete-{{item.id}}" 
                        hx-get="{% url 'income:federal_policy_delete' item.id %}" 
                        onClick="OpenSmallModal()" 
                        hx-swap="innerHTML" 
                        hx-target="#body-small-modal" 
                        class="text-red-600 hover:cursor-pointer font-medium">
                            <i class="fas fa-trash"></i>
                            <div id="tooltip-PolicyFederalDelete-{{item.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Eliminar Poliza
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>                               
                        </a> 
                    </div> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.body.addEventListener("htmx:afterSettle", function(event) {
        const container = event.detail ? event.detail.target : event.target;
        const table = container.querySelector("#datatable-federal");
        if (table && typeof DataTable !== "undefined") {
            // Solo inicializamos si aún no lo está.
            if (!table.hasAttribute("data-datatable-initialized")) 
            {
                new DataTable(table, {
                    lengthMenu: [
                    [5,10, 25, 50, -1],
                    [5,10, 25, 50, 'All'],
                ],
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                    },
                    //fixedColumns: {start: 2,end:1},
                    scrollCollapse: true,
                    scrollX: true,
                    //scrollY: 300,
                    layout: {
                        topStart: {
                            pageLength:true,
                            buttons: [
                                {
                                    text: '+ Nuevo',
                                    className: 'add-button',
                                    action: function (e, dt, node, config) 
                                    {
                                        FederalPolicyNew();
                                    }
                                }
                            ],
                        },
                        topEnd:{
                            search:true, 
                        }
                    },                         
                },
                );
                table.setAttribute("data-datatable-initialized", "true");
            }
        }
    });
</script>



