{% extends "layouts/blank.html" %}
{% load static %}
{%block page_title%}
<!--breadcrumb-->
<nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="w-3 h-3 me-2.5 size-6" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-637647fac3a86d32eae6f226-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><path class="cls-637647fac3a86d32eae6f226-1" d="M20.59,22.5H3.41A1.92,1.92,0,0,1,1.5,20.59V7.23H18.68V20.59A1.92,1.92,0,0,0,20.59,22.5Z"></path><path class="cls-637647fac3a86d32eae6f226-1" d="M22.5,3.41V20.59a1.91,1.91,0,0,1-3.82,0V7.23H5.32V1.5h9.54l1.87,1.91Z"></path><circle class="cls-637647fac3a86d32eae6f226-1" cx="10.09" cy="12.95" r="1.91"></circle><path class="cls-637647fac3a86d32eae6f226-1" d="M10.09,14.86h0A2.86,2.86,0,0,1,13,17.73v1a0,0,0,0,1,0,0H7.23a0,0,0,0,1,0,0v-1A2.86,2.86,0,0,1,10.09,14.86Z"></path></svg>                  
                Nómina
            </a>
        </li>
        <li>
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <a href="#" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">
                    Catálogos
                </a>
            </div>
        </li>
    </ol>
</nav>
<!--breadcrumb-->
{%endblock%}
{% block content %}
<div class="w-full flex flex-col justify-center bg-white border border-gray-200 rounded-lg shadow mb-2">
    
        <!--TABS-->
        <div class="border-b border-gray-200 dark:border-gray-700 bg-rojo border radius rounded-t-lg">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" 
            id="default-styled-tab" 
            data-tabs-toggle="#default-styled-tab-content" 
            data-tabs-active-classes="text-white hover:text-white dark:text-white dark:hover:text-white border-white dark:border-white" 
            data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" 
            role="tablist">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="me-2" role="presentation">
                    <a
                    id="dependence-tab" 
                    data-tabs-target="#dependence" 
                    type="button" 
                    role="tab" 
                    aria-controls="dependence" 
                    aria-selected="false"
                    aria-current="page"   
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM15.75 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM2.25 9.75a3 3 0 1 1 6 0 3 3 0 0 1-6 0ZM6.31 15.117A6.745 6.745 0 0 1 12 12a6.745 6.745 0 0 1 6.709 7.498.75.75 0 0 1-.372.568A12.696 12.696 0 0 1 12 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 0 1-.372-.568 6.787 6.787 0 0 1 1.019-4.38Z" clip-rule="evenodd" />
                            <path d="M5.082 14.254a8.287 8.287 0 0 0-1.308 5.135 9.687 9.687 0 0 1-1.764-.44l-.115-.04a.563.563 0 0 1-.373-.487l-.01-.121a3.75 3.75 0 0 1 3.57-4.047ZM20.226 19.389a8.287 8.287 0 0 0-1.308-5.135 3.75 3.75 0 0 1 3.57 4.047l-.01.121a.563.563 0 0 1-.373.486l-.115.04c-.567.2-1.156.349-1.764.441Z" />
                        </svg>-->    
                        Direcciones
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="category-tab" 
                    data-tabs-target="#category" 
                    type="button" 
                    role="tab" 
                    aria-controls="category" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
                        </svg>-->
                        Categorías
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="type-tab" 
                    data-tabs-target="#type" 
                    type="button" 
                    role="tab" 
                    aria-controls="type" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Tipos                  
                    </a>
                </li> 
                <li class="me-2" role="presentation">
                    <a 
                    id="movement-tab" 
                    data-tabs-target="#movement" 
                    type="button" 
                    role="tab" 
                    aria-controls="movement" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Movimientos                    
                    </a>
                </li> 
                <li class="me-2" role="presentation">
                    <a 
                    id="type-employee-tab" 
                    data-tabs-target="#type-employee" 
                    type="button" 
                    role="tab" 
                    aria-controls="type-employee" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Tipos de empleados                   
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="type-payroll-tab" 
                    data-tabs-target="#type-payroll" 
                    type="button" 
                    role="tab" 
                    aria-controls="type-payroll" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Tipos de nominas                 
                    </a>
                </li> 
                <li class="me-2" role="presentation">
                    <a 
                    id="perception-tab" 
                    data-tabs-target="#perception" 
                    type="button" 
                    role="tab" 
                    aria-controls="perception" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Percepciones              
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="deduction-tab" 
                    data-tabs-target="#deduction" 
                    type="button" 
                    role="tab" 
                    aria-controls="deduction" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Deducciones            
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="categories-tabulator-tab" 
                    data-tabs-target="#categories-tabulator" 
                    type="button" 
                    role="tab" 
                    aria-controls="categories-tabulator" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Tabulador de categorías            
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="attributes-tab" 
                    data-tabs-target="#attributes" 
                    type="button" 
                    role="tab" 
                    aria-controls="attributes" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Atributos          
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <a 
                    id="salaries-tabulator-tab" 
                    data-tabs-target="#salaries-tabulator" 
                    type="button" 
                    role="tab" 
                    aria-controls="salaries-tabulator" 
                    aria-selected="false" 
                    href="#" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 hidden md:flex">
                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                        </svg>-->
                        Tabulador de sueldos 2025        
                    </a>
                </li>                                                                                                                                                                                          
            </ul>
        </div>
        <!--TABS-->  
        <!--CONTENT TABS-->   
        <div id="default-styled-tab">
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dependence" role="tabpanel" aria-labelledby="dependence-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDependence" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" 
                    class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nueva Dependencia
                    </a>
                </div>
                <!--LIST DEPENDENCES-->
                <div id="listDependences"  hx-get="{% url 'payroll_catalogs_dependences' %}" hx-trigger="load"  ></div>
                <!--LIST DEPENDENCES-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="category" role="tabpanel" aria-labelledby="category-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDepartment" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo Categoría
                    </a>
                </div>
                <!--LIST CATEGORIAS-->            
                <div id="listCategories" hx-get="{% url 'payroll_catalogs_categories' %}" hx-trigger="load" class="flex flex-wrap gap-2"></div>
                <!--LIST CATEGORIAS-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="type" role="tabpanel" aria-labelledby="type-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo Tipo
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="listDirectors" hx-get="{% url 'payroll_catalogs_types' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="movement" role="tabpanel" aria-labelledby="movement-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo Movimiento
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="listDirectors" hx-get="{% url 'payroll_catalogs_movements' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="type-employee" role="tabpanel" aria-labelledby="type-employee-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo tipo de empleado
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="listDirectors" hx-get="{% url 'payroll_catalogs_types_employees' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div> 
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="type-payroll" role="tabpanel" aria-labelledby="type-payroll-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo tipo nomina
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="listDirectors" hx-get="{% url 'payroll_catalogs_types_payrolls' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>   
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="perception" role="tabpanel" aria-labelledby="perception-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nueva percepción
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="listDirectors" hx-get="{% url 'payroll_catalogs_perceptions' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="deduction" role="tabpanel" aria-labelledby="deduction-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nueva deducción
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="listDirectors" hx-get="{% url 'payroll_catalogs_deductions' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="categories-tabulator" role="tabpanel" aria-labelledby="categories-tabulator-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo registro
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="CategoriesTabulator" hx-get="{% url 'payroll_catalogs_categories_tabulator' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo registro
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="PerceptionsTabulator" hx-get="{% url 'payroll_catalogs_attributes' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>                                                                                                   
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="salaries-tabulator" role="tabpanel" aria-labelledby="salaries-tabulator-tab">
                <div class="flex justify-start py-2">
                    <a onClick="openModal()"  hx-get="{%url "newDirector" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                        </svg>
                        Nuevo registro
                    </a>
                </div>    
                <!--LIST TIPOS-->        
                <div id="SalariesTabulator" hx-get="{% url 'payroll_catalogs_tabulator' %}" hx-trigger="load"  ></div>
                <!--LIST TIPOS-->
            </div>               
        </div>
        <!--CONTENT TABS--> 
    
</div>



<script>
    function listDependences(){htmx.ajax('GET', '{% url 'listDependences' %}', '#listDependences');}
    function listDepartments(){htmx.ajax('GET', '{% url 'listDepartments' %}', '#listDepartments');}
    function listDirectors(){htmx.ajax('GET', '{% url 'listDirectors' %}', '#listDirectors');}
</script>

<script>
    document.body.addEventListener("updateListDirectors", function() {
        listDirectors();
    });
    document.body.addEventListener("updateListDependences", function() {
        listDependences();
    });
    document.body.addEventListener("updateListDepartments", function() {
        listDepartments();
    });          
</script>
{% endblock %}

