<div>
    <div class="border rounded-lg shadow relative w-full">
        <form  hx-delete="{% url 'DeleteTrimestre' model.id %}"  hx-swap="innerHTML" hx-target="#ResultDeleteTrimestre-{{model.id}}" class="p-1 items-center text-center inline-flex">
            {% csrf_token %}
            <svg class="w-10 h-10 text-red-600 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">¿Deseas eliminar?</h3>
            <div class="inline-flex items-center space-x-2">
                <button type="submit"
                    class="cursor-pointer text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                    Si
                </button>
                <a hx-get="{%url 'CancelDelete' %}" hx-swap="innerHTML" hx-target="#ResultDeleteTrimestre-{{model.id}}"
                    class="cursor-pointer text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center">
                    No
                </a>
            </div>
        </form>
    </div>  
</div>
<script>
    document.addEventListener("htmx:configRequest", function (event) {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>