<h5 id="title-modal-detail" hx-swap-oob="true" class="bg-rojo text-white items-center text-base font-semibold w-full">Detalle de subcategoría</h5>

<dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-sm dark:text-gray-400">Categoría</dt>
        <dd class="text-sm font-semibold">{{subcategory.group.name}}</dd>
    </div>
    <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-sm dark:text-gray-400">Subcategoría</dt>
        <dd class="text-sm font-semibold">{{subcategory.name}}</dd>
    </div>
</dl>


<ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    {% for item in documents %}
    <li>
        {%if item.quarter%} <span class="text-base text-gray-800">Trimestre: {{item.quarter}} </span>  {%endif%}
        {%if item.name%} <span class="text-base text-gray-600"> - {{item.name}} </span>   {%endif%}
    </li>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
    {% endfor %}
</ul>
<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
<nav aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-base h-10">
    {% for item in documents %}   
        {% if item.quarter == 1%}
        <li>
            {% if item.document %}
            <a href="media/{{item.document}}" target="_blank" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{item.quarter}}</a>
            {%else%}
            <a href="" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{item.quarter}}</a>
            {%endif%}
            
        </li>
        {% endif %}
        {% if item.quarter == 2 %}
        <li>
            {% if item.document %}
            <a href="media/{{item.document}}" target="_blank" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{item.quarter}}</a>
            {%else%}
            <a href="" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{item.quarter}}</a>
            {%endif%}
            
        </li>
        {% endif %}
        {% if item.quarter == 3 %}
        <li>
            {% if item.document %}
            <a href="media/{{item.document}}" target="_blank" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{item.quarter}}</a>
            {%else%}
            <a href="" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{item.quarter}}</a>
            {%endif%}
            
        </li>
        {% endif %}
        {% if item.quarter == 4%}
        <li>
            {% if item.document %}
            <a href="media/{{item.document}}" target="_blank" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{item.quarter}}</a>
            {%else%}
            <a href="" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{item.quarter}}</a>
            {%endif%}
            
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>