{% extends '_base.html' %}
{% load  static %}
{% block layout %}
<div class=" h-screen py-5 overflow-y-hidden ">
    <div class="sm:ml-64   border-2 rounded-b-lg rounded-t-lg h-full " id="panel">
        <div class="bg-slate-200 px-2 pt-2 pb-5 h-full relative overflow-y-scroll" >
            {%include 'includes/aside.html' %}
            {% include 'includes/navbar.html'%}
            {%block content%}
            {%endblock%}
        </div>
    </div>
</div>
<script >
    
    const btn_menu = document.getElementById('btn_menu');
    
    btn_menu.addEventListener("click", () => {
        const panel = document.getElementById('panel');
        if(panel.classList.contains('sm:ml-16')){
                        
            var elementos = document.querySelectorAll('.tag_aside');
            elementos.forEach(function(elemento) {
            elemento.classList.remove('hidden');
            });

            document.querySelector("#sidebar-multi-level-sidebar").classList.remove("w-16");
            document.querySelector("#sidebar-multi-level-sidebar").classList.add("w-64");
            document.querySelector("#panel").classList.remove("sm:ml-16");
            document.querySelector("#panel").classList.add("sm:ml-64");
        }else{
            var elementos = document.querySelectorAll('.tag_aside');
            elementos.forEach(function(elemento) {
            elemento.classList.add('hidden');
            });

            document.querySelector("#sidebar-multi-level-sidebar").classList.remove("w-64");
            document.querySelector("#sidebar-multi-level-sidebar").classList.add("w-16");            
            document.querySelector("#panel").classList.remove("sm:ml-64");
            document.querySelector("#panel").classList.add("sm:ml-16");
        }

      });
</script>
{% endblock %}