{%extends "pages/start.html" %} {% block admin %}
<div class="pt-4">
  <div class="text-center">
    <p>{% if request.user.is_authenticated %} {{ user.first_name | upper }} {{ user.last_name | upper }} {%endif%}</p>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" class="text-black">Cabildo</a></li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </nav>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
  <table class="table">
    <thead>
      <tr>
        <th colspan="7" class="text-end">
            <a type="button" class="btn btn-primary" href="{%url "newCouncil" %}">Agregar</a>
        </th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cargo</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%for item in council %}
      <tr>
        <td class="table_align fs-6">{{ forloop.counter }}</td>
        <td class="table_align fs-6 fw-light">
          <div class=" my-0 d-flex flex-row align-middle" >
            {%if item.profile_image != ''%}
            <img src="{{item.profile_image.url}}" class="rounded-circle" height="50px" weight="50px"  /> 
            {%endif%}
            <p class="my-3 px-2  " >
            {{item.name}}
            {{item.firstlastname}}
            {%if item.secondlastname !=  None %} 
              {{item.secondlastname}}
            {% endif%}
            </p>
          </div>
        </td>
        <td class="table_align fs-6 fw-light">{%if item.position.name !=  None %}{{item.position.name}} {% endif%}</td>
        <td class="table_align fs-6 fw-light">{%if item.email !=  None %}{{item.email}} {% endif%}</td>
        <td class="table_align fs-6 fw-light">{%if item.address !=  None %}{{item.address}}{% endif%}</td>
        <td class="table_align fs-6 fw-light">{%if item.phone !=  None %}{{item.phone}}{% endif%}</td>
        <td class="table_align fs-6 fw-light">
          <div class="d-flex flex-row align-middle">
            <a href="{% url 'editCouncil' item.id %}" class="text-primary px-2">Editar</a>
            <a href="{% url 'deleteCouncil' item.id %}" class="text-danger px-2">Eliminar</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
