{% extends 'layouts/blank.html'%}

{% block content %}
<div class="w-full px-2 py-4">
  <div class="flex flex-wrap">
    <div class="grow"></div>
    <div>
      <a href="{%url "newCarousel" %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Agregar</a>
    </div>
  </div>
</div>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  #
              </th>
              <th scope="col" class="px-6 py-3">
                  Imagen
              </th>
              <th scope="col" class="px-6 py-3">
                  Acciones
              </th>
          </tr>
      </thead>
      <tbody>
        {%for item in carousel %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ forloop.counter }}
            </th>
            <td class="px-6 py-4">
              <img src="{{item.image.url}}" height="100px" weight="250px"  /> 
            </td>
            <td class="px-6 py-4">
              <a href="{% url 'editCarousel' item.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
              <a href="{% url 'deleteCarousel' item.id %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{%endblock%}
