{%extends "pages/start.html" %} {% block admin %}
<div class="pt-4">
  <div class="text-center">
    <p>{% if request.user.is_authenticated %} {{ user.first_name | upper }} {{ user.last_name | upper }} {%endif%}</p>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" class="text-black">Documentos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Listado</li>
    </ol>
  </nav>
{% if messages %}
  {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}
{% endif %}  
  <table class="table">
    <thead>
        <tr>
            <th colspan="7" class="text-end">
                <a type="button" class="btn btn-primary" href="{%url "newDocument" %}">Agregar</a>
            </th>
        </tr>        
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Archivo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {%for item in documents %}
        <tr>
          <td class="fs-6 fw-light">{{ forloop.counter }}</td>
          <td>{{item.name}}</td>
          <td class="fs-6 fw-light">
            <label><a href="{{item.document.url}}" target="_blank" style="color:black" >Archivo</a></label>
          </td>
          <td class="table_align fs-6 fw-light">
            <div class="d-flex flex-row align-middle">
              <a href="{% url 'editDocument' item.id %}" class="text-primary px-2">Editar</a>
              <a href="{% url 'deleteDocument' item.id %}" class="text-danger px-2">Eliminar</a>
            </div>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
