<h3 class="text-xl font-semibold text-white dark:text-white" id="title-modal" hx-swap-oob="true">
  Almacenar nuevo archivo
</h3>
<form id="formDocument" hx-encoding="multipart/form-data" hx-post="{% url 'newDocument' %}" hx-trigger="submit" class="max-w-sm mx-auto">
  {% csrf_token %}
  {{ form }}
<div id="btn-formDocument" class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
    <button type="submit"  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2   dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar</button>
    <button onClick="closeModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancelar</button>
</div>
<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
<progress class="bg-green-600 w-full hidden" id="progress" value="0" max="100"></progress>
  
</form>
<script>
  htmx.on('#formDocument', 'htmx:xhr:progress', function(evt) {
    htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
  });
</script>
<script>
  document.addEventListener('htmx:beforeRequest', function(event) {
    const idElement = event.detail.elt.id;
    if(idElement == 'formDocument')
    {
      document.getElementById('progress').style.display= 'block';
      document.getElementById('btn-formDocument').style.display = 'none';
    }
  });

{% comment %}   document.addEventListener('htmx:afterSwap', function(event) {
    const idElement = event.detail.elt.id;
    if(idElement == 'formDocument')
    {
      document.getElementById('btn-formDocument').style.display = 'block';
    }
  }); {% endcomment %}
</script>    