<style>
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
</style>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="datatable-attributes" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>                
                <th>Tipo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {%for attribute in attributes %}
            <tr>
                <td>{{ attribute.name }} </td>                
                <td>
                    {% if attribute.type == "P"%}
                        <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{ attribute.get_type_display}}</span>
                    {%else %}
                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{{ attribute.get_type_display}}</span>
                    {%endif%}
                    
                </td>                             
                <td>{{ attribute.description | default:"" }}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<script>
    document.body.addEventListener("htmx:afterSettle", function(event) {
        const container = event.detail ? event.detail.target : event.target;
        const table = container.querySelector("#datatable-attributes");
        if (table && typeof DataTable !== "undefined") {
            // Solo inicializamos si aún no lo está.
            if (!table.hasAttribute("data-datatable-initialized")) 
            {
                new DataTable(table, {
                    columnDefs: [{ width: '30%', targets: 0 }],
                    lengthMenu: [
                    [5,10, 25, 50, -1],
                    [5,10, 25, 50, 'All'],
                    ],
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                    },
                    fixedColumns: {
                        start: 2
                    },
                    scrollCollapse: true,
                    scrollX: true,
                    scrollY: 300    
                },
                );
                table.setAttribute("data-datatable-initialized", "true");
            }
        }
    });
</script>
