<style>
    th, td { white-space: nowrap; }
    div.dataTables_wrapper{
        width: 100%;
        height:100%;
        margin: 0 auto;
    }
    div.dt-length{
        display:inline;
        padding: 0 2px 0 2px;
    }
    div.dt-buttons{
        display:inline;
        padding: 0 2px 0 2px;
    }
    div.dt-search{
        text-align:right;
    }

    button.dt-button.add-button{
        background-color: #04AA6D;
        color:white;
    }
    button:hover.dt-button:hover.add-button:hover{
        background-color: #388e3c;
        color:white;
    }
</style>
<h3 id="title-window" hx-swap-oob="true" class="flex w-full text-xl font-semibold text-white dark:text-white bg-rojo px-6 py-3 mb-2 border radius rounded-t-lg" >
    Predial
</h3>
<!--<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full h-full p-1">-->
    <table id="datatable-predial" class="display" style="width:100%; height:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th> 
                <th>Importe</th>              
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for predial in predial_list %}
            <tr>
                <td>{{ forloop.counter }}</td>               
                <td>{{ predial.date}}</td>
                <td>{{ predial.amount}}</td>                             

                <td>
                    <div class="flex space-x-2">
                        <a data-tooltip-target="tooltip-PredialEdit-{{predial.id}}" hx-get="{% url 'income:predial_edit' predial.id %}" onClick="OpenSmallModal()" hx-swap="innerHTML" hx-target="#body-small-modal" class="text-blue-600 hover:cursor-pointer font-medium">
                            <i class="fas fa-pen-to-square"></i>
                            <div id="tooltip-PredialEdit-{{predial.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Editar
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>                               
                        </a> 
                        <a data-tooltip-target="tooltip-PredialDelete-{{predial.id}}" hx-get="{% url 'income:predial_delete' predial.id %}" onClick="OpenSmallModal()" hx-swap="innerHTML" hx-target="#body-small-modal" class="text-red-600 hover:cursor-pointer font-medium">
                            <i class="fas fa-trash"></i>
                            <div id="tooltip-PredialDelete-{{predial.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Eliminar
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>                               
                        </a> 
                    </div>                     
                </td>                    

            </tr>
            {%endfor%}
        </tbody>
    </table>
<!--</div>-->
<script>
    document.addEventListener("htmx:configRequest", function (event) {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>
<script>
    document.body.addEventListener("htmx:afterSettle", function(event) {
        const container = event.detail ? event.detail.target : event.target;
        const table = container.querySelector("#datatable-predial");
        if (table && typeof DataTable !== "undefined") {
            // Solo inicializamos si aún no lo está.
            if (!table.hasAttribute("data-datatable-initialized")) 
            {
                new DataTable(table, {
                    //columnDefs: [{ width: '10%', targets: 0 }],
                    pageLength: 10,
                    lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All'],
                    ],
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                    },
                    //fixedColumns: {start: 3,end:1},
                    scrollCollapse: true,
                    scrollX: true,
                    //scrollY: 300,
                    layout: {
                        topStart: {
                            pageLength:true,
                            buttons: [
                                {
                                    text: '+ Nuevo',
                                    className: 'add-button',
                                    action: function (e, dt, node, config) 
                                    {
                                        PredialNew();
                                    }
                                }
                            ],
                        },
                        topEnd:{
                            search:true, 
                        }
                    },
                },
                );
                table.setAttribute("data-datatable-initialized", "true");
            }
        }
    });
</script>
