

<blockquote class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">  
    <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Gestión finalizada</h3>  
    {%for item in deliveryInfo %}
        <p class="text-gray-900 dark:text-white">Fecha:<span class="text-base/7 font-semibold tracking-tight text-gray-900">{{ item.date }} </span></p>
        <p class="text-gray-900 dark:text-white">Se entregó:<span class="text-base/7 font-semibold tracking-tight text-gray-900">{{ item.comment }}</span></p>
        <p class="text-gray-900 dark:text-white">Monto total:<span class="text-base/7 font-semibold tracking-tight text-gray-900">{{item.total_amount}}</span></p>
    {%endfor%}
    

</blockquote>