<div class="flex gap-1">
    <div class="w-2/3">
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700 bg-gray-50">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
                <li class="me-2 px-3 flex items-center">
                    <a onClick="actualizar()" type="button" class="cursor-pointer text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                            <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>  
                        <span class="sr-only">Volveer</span>
                    </a>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="True">Detalle</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="timeline-tab" data-tabs-target="#timeline" type="button" role="tab" aria-controls="timeline" aria-selected="false">Linea de tiempo</button>
                </li>        
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Documentos</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Evidencias</button>
                </li>
                {%if perms.core.can_finish_procedure %}
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="delivery-tab" data-tabs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Finalizar Entrega</button>
                </li>
                {%endif%}
            </ul>
        </div>
        <div id="default-tab-content">
            <div class=" p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {%include 'admin/procedures/detail.html'%}
                {%include 'admin/procedures/formComment.html'%}
                <div class="py-4" id="comments">
                    {%include 'admin/procedures/comments.html'%}
                </div>
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
        
                {%include 'admin/procedures/timeLine.html' %}
        
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                {%include 'admin/procedures/formUploadDocument.html' %}
                <div class="py-4" id="documents">
                    {%include 'admin/procedures/documents.html'%}
                </div>
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                {%include 'admin/procedures/formUploadEvidence.html' %}
                <div class="py-4" id="evidences">
                    {%include 'admin/procedures/evidences.html'%}
                </div>
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                <div class="py-4" id="delivery-finish">
                {% if procedure.status != 'Entregada' %}
                    {%include 'admin/procedures/formDelivery.html' %}
                {% endif %}
                {% if procedure.status == 'Entregada' %}
                    {%include 'admin/procedures/delivery_finish.html'%}
                {% endif %} 
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/3">
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700 bg-gray-50">
            <!--MOMENTOS CONTABLES-->
            {% include 'admin/procedures/AccountingMoments.html' %}
        </div>
    </div>
</div>


