{% extends "layouts/blank.html" %}
{% load static %}
{% block content %}

<div class="w-full p-2 flex flex-col justify-center bg-white border border-gray-200 rounded-lg shadow mb-2">
    <div id="content-main">
        <div class="mt-2 flex p-2">
            <div class="grow flex justify-start">
                <h1 class="font-semibold text-lg text-black px-5">SOLICITUDES PARA GESTIONES</h1>
            </div>
        </div>
        <!--FILTROS-->
        <div class="flex w-full flex-wrap ">      
            <form class="flex w-full flex-wrap " id="date-range-form" 
            hx-post="{% url 'listRequestProcedures' %}" 
            hx-trigger="change from:input" 
            hx-target="#list" 
            hx-swap="innerHTML" >
                <div class="w-full md:w-1/2  pb-1 ">
                    <!--FECHAS-->
                    {% csrf_token %}
                    <div  class="flex items-center">
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                            </svg>
                            </div>
                            <input required type="date" id="input-start" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Fecha de inicio" required>
                        </div>
                        <span class="mx-4 text-gray-500">a</span>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input required type="date" id="input-end" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Fecha de fin" required>
                        </div>
                        <div class="relative px-1">
                            {% comment %}
                            <button onClick="cleanComment()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
                                </svg>
                            </button> 
                            {% endcomment %}
                        </div>
                    </div>
                    <!--FECHAS-->
                </div>  
                <div class="w-full md:w-1/2 flex ">
                    <div class="w-1/2 flex justify-start py-1 px-1 ">
                        <select name="department" id="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            {%if request.user.profile.role != 3 %}
                                <option selected value="{{ request.user.profile.department.id }}">{{ request.user.profile.department.name }}</option>
                            {%else%}
                                <option value="0" selected >Todos los departamentos</option>
                                {%for item in departments %}
                                <option value="{{ item.id }}">{{item}}</option>
                                {%endfor%}
                            {%endif%}
                        </select>
                        {% comment %} <input type="hidden" name="department" value="{{ request.user.profile.department.id }}" />   {% endcomment %}                      
                    {% comment %}  <button type="submit" class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Buscar</button> {% endcomment %}
                    </div>
                    <div class="w-1/2 flex  justify-end py-1 px-1">
                        <!--NUEVO-->
                        {% if perms.core.add_requestprocedure %}
                        <a onClick="openModal()"  hx-get="{%url "searchCitizen" %}" hx-target="#bodyModal" hx-swap="innerHTML" type="button" class="cursor-pointer text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                            </svg>
                            Nueva solicitud
                        </a>
                        
                        {%endif%}
                        <!--NUEVO-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="list"   >

</div>


<!--MODAL-->
<div id="myModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0  max-h-full bg-gray-500/75 inset-0  transition-opacity h-screen">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Gestiones
                </h3>
                <button onClick="closeModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4" id="bodyModal">
            </div>
            <div id="messages"></div>
            <!-- Modal footer -->
        </div>
    </div>
</div>  
<!--MODAL-->
<script>
    let notificationNumber = document.getElementById("notification-number");
    document.body.addEventListener('htmx:wsAfterMessage',(e)=>{
        let numberOfNotifications = parseInt(notificationNumber.innerHTML);
        console.log("numero de notificaciones",numberOfNotifications)
        if(numberOfNotifications == 0){
            notificationNumber.innerHTML = 1;
        }{
            notificationNumber.innerHTML = parseInt(numberOfNotifications+1);
        }
    })
</script>
<script>
    function getModal() {
        const modalEl = document.getElementById("myModal");
        return new Modal(modalEl, {
            placement: 'center',
            backdrop: 'dynamic',
        });
    }
    function closeModal() {
        getModal().hide();
    }   
    function openModal() {
        getModal().show();
    }
</script>
<script>
    window.onload = function() {
    // Obtener la fecha actual en formato 'YYYY-MM-DD'
    const hoy = new Date().toISOString().split('T')[0];
    // Establecer la fecha en el input
    document.getElementById('input-start').value = hoy;
    document.getElementById('input-end').value = hoy;
    actualizar()
      };

</script>
<script>
    const selectElement = document.getElementById('department');
    if (selectElement)
    {
        selectElement.addEventListener('change', function() {
            const valorSeleccionado = this.value;
            console.log(`Seleccionaste: ${valorSeleccionado}`);
            actualizar();
        });
    }

</script>
<script>
    function actualizar() {
        //console.log("llegue a la funcion")
        const dateRangeForm = document.getElementById('date-range-form');
        if (dateRangeForm) 
        {
            console.log("llegue a la funcion de fechas")
            const formData = new FormData(dateRangeForm);
            htmx.ajax('POST', dateRangeForm.getAttribute('hx-post'), {
                target: dateRangeForm.getAttribute('hx-target'),
                swap: dateRangeForm.getAttribute('hx-swap'),
                values: Object.fromEntries(formData.entries()),
            });
        }
    }
</script>
{% endblock %}

