<h3 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Registros similares de ciudadanos:</h3>
<ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
{%for item in list_citizen%}
    <input type="hidden" name="citizen" value="{{item.id}}" id="name-{{item.id}}" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Grupo" required />   
    <li class="pb-3 sm:pb-4">
        <div class="flex items-center space-x-4 rtl:space-x-reverse py-5">
            <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    {{item}}
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {%if item.cellphone %}
                    {{item.cellphone}}
                    {%endif%}
                    {%if item.email %}
                    {{item.email}}
                    {%endif%}
                </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                <a  hx-get="{% url 'newRequestProcedure' %}" hx-include="#name-{{ item.id }}"  hx-target="#bodyModal" class="px-2 cursor-pointer"><span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Nueva solicitud</span>
                </a>
            </div>
        </div>
    </li>
{%endfor%}
</ul>