<h1>Registrar Solicitud</h1>
<p>Ciudadano: {{ citizen.name }} {{ citizen.last_name }} {{ citizen.second_name }}</p>

<form enctype="multipart/form-data" 
    hx-post="{% url 'newRequestProcedure' %}"
    hx-trigger="submit"    
    hx-swap="innerHTML" 
    hx-target="#bodyModal"
    hx-reset="true"
    class="max-w-sm mx-auto">
    <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Datos de la solicitud</h3>
    {% csrf_token %}

    {{ form.as_p }}
       

    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button type="submit"  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2   dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar</button>
        <button onClick="closeModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancelar</button>
    </div>
    
</form>
    

{% if message %}
    {%include 'includes/messages_success.html'%}
    <script>
        setTimeout(closeModal, 2500);
    </script>
    <script>//htmx.ajax('GET', '{% url 'listRequestProcedures' %}', {target:'#list', swap:'innerHTML'})</script>
    <script>
        const dateRangeForm = document.getElementById('date-range-form');

        if (dateRangeForm) {
            // Captura los datos del formulario
            const formData = new FormData(dateRangeForm);

            // Envía el formulario con htmx.ajax
            htmx.ajax('POST', dateRangeForm.getAttribute('hx-post'), {
                target: dateRangeForm.getAttribute('hx-target'),
                swap: dateRangeForm.getAttribute('hx-swap'),
                values: Object.fromEntries(formData.entries()),
            });
        }
    </script>
{%endif%}

