
<div class="flex justify-center">
    <h5 class="text-xl font-bold dark:text-white">Agregar seguimiento de gestión</h5>
</div>
<p>Ciudadano: {{ model.requester.name }} {{ model.requester.last_name }} {{ model.requester.second_name }}</p>
<p>Solicitud: {{ model.description }}</p>

<form enctype="multipart/form-data" 
    hx-post="{% url 'saveTrackingProcedure'  %} " 
    hx-trigger="submit"    
    hx-swap="innerHTML" 
    hx-target="#bodyModal"
    class="max-w-sm mx-auto">

    {% csrf_token %}

    {{ form.as_p }}
       
    {% if form.errors %}
        <ul class="errorlist">
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field }}</strong>: 
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button type="submit"  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2   dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar</button>
        <button onClick="closeModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancelar</button>
    </div>
    
</form>
    

{% if message %}
    {%include 'includes/messages_success.html'%}
    <script>
        setTimeout(closeModal, 2500);
    </script>
    <script>//htmx.ajax('GET', '{% url 'listRequestProcedures' %}', {target:'#list', swap:'innerHTML'})</script>
{%endif%}

