<h5 class="bg-rojo text-white items-center text-base font-semibold w-full" id="title-modal-detail" hx-swap-oob="true">
    Detalle del empleado
</h5>
{% load humanize %}
<dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Número de empleado:</dt>
        <dd class="text-xs w-3/5 font-semibold"> {{employee.key|default:""}} </dd>
    </div>    
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Nombre del empleado:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.name|default:""}} {{employee.paternal_surname|default:""}} {{employee.maternal_surname|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">dependencia:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.dependence|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">puesto:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.position|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">tipo de empleado:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.type_employee|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">tipo de nomina:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.type_payroll|default:""}}</dd>
    </div> 
    <!--CONCEPTOS-->
    <h3 class="text-sm font-bold uppercase">percepciones</h3>
    {% for perception in perceptions %}
        <div class="flex py-1 w-full">
            <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">{{perception.concept.name}}:</dt>
            <dd class="text-xs w-3/5 font-semibold">$ {{perception.value|default:""|floatformat:2|intcomma}}</dd>
        </div>
    {% endfor %}
        <div class="flex py-1 w-full">
            <dt class="font-bold text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Total percepciones:</dt>
            <dd class="text-xs w-3/5 font-semibold">$ {{total_perception|default:""|floatformat:2|intcomma}}</dd>
        </div>
    <h3 class="text-sm font-bold uppercase">deducciones</h3>
    {% for deduction in deductions %}
        <div class="flex py-1 w-full">
            <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">{{deduction.concept.name}}:</dt>
            <dd class="text-xs w-3/5 font-semibold">$ {{deduction.value|default:""|floatformat:2|intcomma}}</dd>
        </div>
    {% endfor %}
        <div class="flex py-1 w-full">
            <dt class="font-bold text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Total deducciones:</dt>
            <dd class="text-xs w-3/5 font-semibold">$ {{total_deduction|default:""|floatformat:2|intcomma}}</dd>
        </div>
        <div class="flex py-1 w-full">
            <h3 class="w-2/5 text-sm font-bold uppercase">Salario Total Neto: </h3>
            <h3 class="w-3/5 text-sm font-bold">$ {{total_salary|default:""|floatformat:2|intcomma}}</h3>    
        </div>
    {% comment %} <div class="flex py-1 flex-wrap">
        <dt class="font-bold text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">salario total:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{total_salary|default:""}}</dd>
    </div> {% endcomment %} 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">fecha de base:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.base_date|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">fecha de contrato:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.contract_date|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Fecha de termino de contrato:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.contract_termination_date|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Número de cuenta:</dt>
        <dd class="text-xs font-semibold">{{employee.account_no|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Banco:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.bank|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Hora de entrada:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.check_in_time|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Hora de salida:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.check_out_time|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Jornada:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.working_day|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Tipo de salario:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.type_salary|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Descripción:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.description|default:""}}</dd>
    </div>                             
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">regimen fiscal:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.tax_regime|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">rfc:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.rfc|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">curp:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.curp|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">nss:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.nss|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">cp:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.cp|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">fecha de nacimiento:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.birth_date|default:""}}</dd>
    </div>                 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">celular:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.cellphone|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">telefono:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.phone|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">correo electronico:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.email|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">pais:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.country|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">estado:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.estate|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">municipality:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.municipality|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">codigo postal:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.postal_code|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">colonia:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.colony|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">calle:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.street|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">No. Ext:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.no_ext|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">No. Int:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.no_int|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">referencia:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.reference|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">idiomas:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.languages|default:""}}</dd>
    </div> 
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">Fecha de nacimiento:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.birth_date|default:""}}</dd>
    </div>
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">sexo:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.sex|default:""}}</dd>
    </div>  
    <div class="flex py-1 flex-wrap">
        <dt class="text-xs w-2/5 px-1 mb-1 text-gray-500 dark:text-gray-400 uppercase">estado civil:</dt>
        <dd class="text-xs w-3/5 font-semibold">{{employee.material_status|default:""}}</dd>
    </div>                                 
</dl>




