<h3 class="text-sm font-semibold text-white dark:text-white bg-rojo px-6 py-3 flex w-full border radius rounded-t-lg" >
    AGREGAR NUEVO CLIENTE
</h3>
<div class="flex w-full gap-4 p-2">
    <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
        <input hx-get="{%url "income:payment_customer_new" 1 %}" hx-target="#newCustomer" hx-swap="innerHTML" id="bordered-radio-1" type="radio" value="1" name="persontype" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="bordered-radio-1" class="w-full px-2 py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Persona física</label>
    </div>
    <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
        <input hx-get="{%url "income:payment_customer_new" 2 %}" hx-target="#newCustomer" hx-swap="innerHTML"  id="bordered-radio-2" type="radio" value="2" name="persontype" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="bordered-radio-2" class="w-full px-2 py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Persona Moral</label>
    </div>
</div>
<div id="newCustomer" class="px-2"></div>
