<style>
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
</style>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
    <table id="datatable-salaries" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                {% for h in headers %}
                <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                    {% if forloop.parentloop and forloop.last %}
                    <td class="border px-2 py-1 font-semibold">{{ cell }}</td>
                    {% else %}
                    <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{ headers|length }}"></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.body.addEventListener("htmx:afterSettle", function(event) {
        const container = event.detail ? event.detail.target : event.target;
        const table = container.querySelector("#datatable-salaries");
        if (table && typeof DataTable !== "undefined") {
            // Solo inicializamos si aún no lo está.
            if (!table.hasAttribute("data-datatable-initialized")) 
            {
                new DataTable(table, {
                    columnDefs: [{ width: '15%', targets: 0 }],
                    lengthMenu: [
                    [5,10, 25, 50, -1],
                    [5,10, 25, 50, 'All'],
                    ],
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                    },
                    fixedColumns: {
                        start: 1, end:1
                    },
                    scrollCollapse: true,
                    scrollX: true,
                    scrollY: 300   
                },
                );
                table.setAttribute("data-datatable-initialized", "true");
            }
        }
    });
</script>
