<h5 class="bg-rojo text-white items-center text-base font-semibold w-full" id="title-modal-detail" hx-swap-oob="true">
Detalle de la dependencia
</h5>
<div class="flex pb-1">
    <dt class="mb-1 text-gray-500 md:text-md dark:text-gray-400 w-1/3 uppercase">Id:</dt>
    <dd class="text-md font-semibold w-auto">{%if dependence.id %} {{dependence.id}} {%endif%}</dd>
</div>
<div class="flex pb-1">
    <dt class="mb-1 text-gray-500 md:text-md dark:text-gray-400 w-1/3 uppercase">Dependencia:</dt>
    <dd class="text-md font-semibold w-auto">{%if dependence.name %} {{dependence.name}} {%endif%}</dd>
</div>
<div class="flex pb-1">
    <dt class="mb-1 text-gray-500 md:text-md dark:text-gray-400 w-1/3 uppercase">Director:</dt>
    <dd class="text-md font-semibold w-auto">{%if dependence.director.director_name %} {{dependence.director.director_name}} {%endif%}</dd>
</div>
<div class="flex pb-1">
    <dt class="mb-1 text-gray-500 md:text-md dark:text-gray-400 w-1/3 uppercase">Correo Electrónico:</dt>
    <dd class="text-md font-semibold w-auto">{%if dependence.email %} {{dependence.email}} {%endif%}</dd>
</div>
<div class="flex pb-1">
    <dt class="mb-1 text-gray-500 md:text-md dark:text-gray-400 w-1/3 uppercase">Domicilio:</dt>
    <dd class="text-md font-semibold w-auto">{%if dependence.address %} {{dependence.address}} {%endif%}</dd>
</div>
<div class="flex pb-1">
    <dt class="mb-1 text-gray-500 md:text-md dark:text-gray-400 w-1/3 uppercase">Teléfono:</dt>
    <dd class="text-md font-semibold w-auto">{%if dependence.phone %} {{dependence.phone}} {%endif%}</dd>
</div>
<h4 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white uppercase">Departamentos<h4>
    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
        {% for item in dependence.my_departments.all %}
            <li>{{ item.name}}</li>
        {% endfor %}
    </ul>