<div id="chats-list" class="pt-8 overflow-auto flex flex-col divide-y h-80 dark:divide-slate-200/5">
    {% for chatroom in user.chat_groups.all %}
        {% if chatroom.is_private %}
            {% for member in chatroom.members.all%}
                {%if member != user%}
                <a href="{% url 'chatroom' chatroom.group_name %}" class="flex items-center gap-4 p-4">
                    <div class="relative w-12 h-12">
                        <img class="w-12 h-12 rounded-full" src="{{ member.profile.avatar }}">
                        {% if chatroom.users_online.all and user not in chatroom.users_online.all or chatroom.users_online.count > 1%}
                        <div class="green-dot absolute bottom-1 right-1"></div>
                        {%else%}
                        <div class="graylight-dot absolute bottom-1 right-1"></div>
                        {%endif%}
                    </div>
                    <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">{{member.profile.name}}</strong>
                </a>
                {%endif%}
            {%endfor%}
        {%endif%}
    {%endfor%}
</div>
