<style>
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
</style>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="datatable-category" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Categoría</th>                                                
                <th>Acciones</th>
            </tr>            
        </thead>
        <tbody>
            {%for item in listCategories %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td class="px-6 py-4 text-right">
                    <div class="flex items-center">
                        <!--Detail-->
                        <a onClick="openModalDetail()" hx-get="{% url 'AccountingDetailCategory' item.id %}" hx-target="#bodyModalDetail" class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">Detalle</a>
                        <!--Edit-->
                        <a data-tooltip-target="tooltip-editCat-{{item.id}}" onClick="openModal()" hx-get="{% url 'AccountingEditCategory' item.id %}" hx-target="#bodyModal" hx-swap="innerHTML" 
                        class="px-2 cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                            </svg>
                            <div id="tooltip-editCat-{{item.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Editar
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script>
    document.body.addEventListener("htmx:afterSettle", function(event) {
        const container = event.detail ? event.detail.target : event.target;
        const table = container.querySelector("#datatable-category");
        if (table && typeof DataTable !== "undefined") {
            // Solo inicializamos si aún no lo está.
            if (!table.hasAttribute("data-datatable-initialized")) 
            {
                new DataTable(table, {
                    lengthMenu: [
                    [5,10, 25, 50, -1],
                    [5,10, 25, 50, 'All'],
                    ],
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                    },
                    fixedColumns: {
                        start: 2,
                        end:1
                    },
                    scrollCollapse: true,
                    scrollX: true,
                    scrollY: 300    
                },
                );
                table.setAttribute("data-datatable-initialized", "true");
            }
        }
    });
</script>





