{{ form.media.css }}
<style>
    input, select {width: 100%}
</style>
<div class="w-full grid grid-cols-1">
    <h3 class="flex w-full text-xl font-semibold text-white dark:text-white bg-rojo px-6 py-3 mb-2 border radius rounded-t-lg" >
        NUEVO PAGO
    </h3>
    <form  enctype="multipart/form-data" hx-post="{% url 'income_payment_save' %}"  class="flex w-full px-6">
        {% csrf_token %}
        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 py-2 ">    
            <div class="flex items-center pb-1 ">
                <dt class="block text-sm font-medium text-gray-900 dark:text-white w-1/3">CLIENTE:</dt>
                <dd class="text-md font-semibold w-auto">
                        {{customer.name}} {{customer.paternalsurname|default:""}} {{customer.maternalsurname|default:""}} 
                </dd>
            </div>
            {{ form.as_p }}
        </div>
    </form>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }} 
</div>

