<select id="select-categories-in-subcategories" 
    name="category"
    hx-include="year" 
    hx-trigger="change from:closest form" hx-post="{% url 'SevacListSubcategories' %}" hx-target="#listSubcategories"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected value="0">Selecciona una categoría</option>
    {%for item in Categories %}
    <option value="{{item.id}}">{{item.name}}</option>
    {%endfor%}
</select>