<form>
    {% csrf_token %}
    {% load humanize %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-2" >
        <div>
            <!--PERCEPCIONES-->
            <h3 class="px-2 border rounded-t-lg bg-slate-200 text-base font-semibold w-full uppercase">
                Percepciones
            </h3>
            <ul class="px-2 max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                {% for perception in perceptions %}
                <li class="pb-3 sm:pb-4 hover:bg-gray-50">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{perception.concept.name}}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            ${{perception.value|floatformat:2|intcomma}}
                            <a class="cursor-pointer px-2" 
                            hx-delete="{% url 'payroll_catalogs_delete_concept_category' perception.id %}" 
                            hx-confirm="Estas seguro de que deseas eliminar la percepción?"  
                            hx-target="closest li" 
                            hx-swap="outerHTML swap:1s">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 fill-red-800">
                                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm3 10.5a.75.75 0 0 0 0-1.5H9a.75.75 0 0 0 0 1.5h6Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                {%endfor%}
            </ul>
            <div class="px-2 border rounded-b-lg bg-slate-200 text-base font-semibold w-full uppercase">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="flex-1 min-w-0">
                        <p class="text-md font-bold text-gray-900 truncate dark:text-white uppercase">
                        Total de percepciones
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        ${{total_perception|floatformat:2|intcomma}}
                    </div>
                </div>
            </div>                        
        </div>
        <div>
            <!--DEDUCCIONES-->
            <h3 class="px-2 border rounded-t-lg bg-slate-200 text-base font-semibold w-full uppercase">
                Deducciones
            </h3>
            <ul class="px-2 max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                {% for deduction in deductions %}
                <li class="pb-3 sm:pb-4 hover:bg-gray-50">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{deduction.concept.name}}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            ${{deduction.value|floatformat:2|intcomma}}
                            <a class="cursor-pointer px-2"
                            hx-delete="{% url 'payroll_catalogs_delete_concept_category' deduction.id %}" 
                            hx-confirm="Estas seguro de que deseas eliminar la deducción?"  
                            hx-target="closest li" 
                            hx-swap="outerHTML swap:1s"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 fill-red-800">
                                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm3 10.5a.75.75 0 0 0 0-1.5H9a.75.75 0 0 0 0 1.5h6Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                {%endfor%}
            </ul>
            <div class="px-2 border rounded-b-lg bg-slate-200 text-base font-semibold w-full uppercase">
                <div class="flex items-center space-x-4 rtl:space-x-reverse">
                    <div class="flex-1 min-w-0">
                        <p class="text-md font-bold text-gray-900 truncate dark:text-white uppercase">
                        Total de deducciones
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        ${{total_deduction|floatformat:2|intcomma}}
                    </div>
                </div>
            </div>                       
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-2">
        <div></div>
        <div class="px-2 border rounded-lg bg-slate-200 text-base font-semibold w-full uppercase">
            <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                <li class="">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-1 min-w-0">
                            <p class="text-md font-bold text-gray-900 truncate dark:text-white uppercase">
                            Salario Total 
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            ${{total_salary|floatformat:2|intcomma}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>         
    </div>
    <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <!--<button id="submit-button-category-tab" type="submit"  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2   dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Guardar <span class="spinner-border htmx-indicator" role="status" aria-hidden="true"></span>
        </button>-->
        <button onClick="closeModal()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Cancelar
        </button>
    </div>
</form>
<div id="response-message"></div>
<script>
    document.addEventListener("htmx:configRequest", function (event) {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
</script>